[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.108.0"
scrapy = "*"
selenium = "*"
webdriver-manager = "*"
scrapyscript = "*"
ray = {extras = ["default"], version = "*"}
bs4 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
